{% extends 'base.html' %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block content %}
<div class="container">
    <h1>Django Ajax CRUD</h1>
    <div class="row">
      <div class="col-md-4 ">
        <h3>ADD USER</h3>
        <form id="addUser" action="">
          <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="pan_number" placeholder="PAN Number" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" name="age" min="10" max="100" placeholder="Age" required>
          </div>
            <div class="form-group">
            <input class="form-control" type="text" name="gender" placeholder="Gender" required>
          </div>
            <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" required>
          </div>
            <div class="form-group">
            <input class="form-control" type="text" name="city" placeholder="City" required>
          </div>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="col-md-8">
        <h3>USERS</h3>
        <table id="userTable" class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Pan Number</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Email</th>
            <th>City</th>
                <th>Actions</th>
          </tr>
          {% if users %}
          {% for user in users %}
          <tr id="user-{{user.id}}">
              <td class="userName userData" name="name">{{user.name}}</td>
              <td class="userPan_number userData" name="pan_number">{{user.pan_number}}</td>
              <td class="userAge userData" name="age">{{user.age}}</td>
              <td class="userGender userData" name="gender">{{user.gender}}</td>
              <td class="userEmail userData" name="email">{{user.email}}</td>
              <td class="userCity userData" name="city">{{user.city}}</td>
              <td align="center">
                  <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal")">EDIT</button>
              </td>
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">DELETE</button>
              </td>
          </tr>
          {% endfor %}
          {% else %}
            No Users
          {% endif %}
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Update User</h4>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">Name</label>
            <input class="form-control" id="form-name" type="text" name="formName"/>
            <label for="pan_number">PanNumber</label>
            <input class="form-control" id="form-pan_number" type="text" name="formPan_number"/>
            <label for="age">Age</label>
            <input class="form-control" id="form-age" type="number" name="formAge" min=10 max=100/>
            <label for="gender">Gender</label>
            <input class="form-control" id="form-gender" type="text" name="formGender" min=10 max=100/>
            <label for="email">Email</label>
            <input class="form-control" id="form-email" type="email" name="formEmail" min=10 max=100/>
            <label for="city">City</label>
            <input class="form-control" id="form-city" type="text" name="formCity" min=10 max=100/>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script>
<!--// Create Django Ajax Call-->
$("form#addUser").submit(function() {
    var nameInput = $('input[name="name"]').val().trim();
    var panInput = $('input[name="pan_number"]').val().trim();
    var ageInput = $('input[name="age"]').val().trim();
    var genderInput = $('input[name="gender"]').val().trim();
    var emailInput = $('input[name="email"]').val().trim();
    var cityInput = $('input[name="city"]').val().trim();
    if (nameInput && panInput && ageInput && genderInput && emailInput && cityInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_create" %}',
            data: {
                'name': nameInput,
                'pan_number': panInput,
                'age': ageInput,
                'gender': genderInput,
                'email': emailInput,
                'city': cityInput,


            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  appendToUsrTable(data.user);
                }
            }
        });
      } else {
        alert("All fields must have a valid value.");
    }
    $('form#addUser').trigger("reset");
    return false;
});
function appendToUsrTable(user) {
  $("#userTable > tbody:last-child").append(`
        <tr id="user-${user.id}">
            <td class="userName" name="name">${user.name}</td>
            '<td class="userPanNumber" name="pan_number">${user.pan_number}</td>
            '<td class="userAge" name="age">${user.age}</td>
            '<td class="userGender" name="gender">${user.gender}</td>
            '<td class="userEmail" name="email">${user.email}</td>
            '<td class="userCity" name="city">${user.city}</td>

            '<td align="center">
                <button class="btn btn-success form-control" onClick="editUser(${user.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
            </td>
            <td align="center">
                <button class="btn btn-danger form-control" onClick="deleteUser(${user.id})">DELETE</button>
            </td>
        </tr>
    `);
}






// Create Django Ajax Call
$("form#updateUser").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val().trim();
    var panInput = $('input[name="formPan_number"]').val().trim();
    var ageInput = $('input[name="formAge"]').val().trim();
    var genderInput = $('input[name="formGender"]').val().trim();
    var emailInput = $('input[name="formEmail"]').val().trim();
    var cityInput = $('input[name="formCity"]').val().trim();
    if (nameInput && panInput && ageInput && genderInput && emailInput && cityInput ) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_update" %}',
            data: {
                'id': idInput,
                'name': nameInput,
                'pan_number': panInput,
                'age': ageInput,
                'gender': genderInput,
                'email': emailInput,
                'city': cityInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  updateToUserTabel(data.user);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

// Update Django Ajax Call
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
    name = $(tr_id).find(".userName").text();
    pan_number = $(tr_id).find(".userPan_number").text();
    age = $(tr_id).find(".userAge").text();
    gender = $(tr_id).find(".userGender").text();
    email = $(tr_id).find(".userEmail").text();
    city = $(tr_id).find(".userCity").text();
    $('#form-id').val(id);
    $('#form-name').val(name);
    $('#form-pan_number').val(pan_number);
    $('#form-age').val(age);
    $('#form-gender').val(gender);
    $('#form-email').val(email);
    $('#form-city').val(city);
  }
}
function updateToUserTabel(user){
    $("#userTable #user-" + user.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(user.name);
        } else if (attr == "pan_number") {
          $(this).text(user.pan_number);
          } else if (attr == "age") {
          $(this).text(user.age);
          } else if (attr == "gender") {
          $(this).text(user.gender);
          } else if (attr == "email") {
          $(this).text(user.email);
        } else {
          $(this).text(user.city);
        }
      });
}





// Delete Django Ajax Call
function deleteUser(id) {
  var action = confirm("Are you sure you want to delete this user?");
  if (action != false) {
    $.ajax({
        url: '{% url "crud_ajax_delete" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#userTable #user-" + id).remove();
            }
        }
    });
  }
}
</script>
{% endblock javascript %}